@model UserRegisterDto
@{
    Layout = null;
}

<form method="post">
    <div class="form-group first">
        <label for="username">Ad</label>
        <input type="text" asp-for="FirstName" class="form-control">
    </div>
    <div class="form-group first">
        <label for="username">Soyad</label>
        <input type="text" asp-for="LastName" class="form-control">
    </div>
    <div class="form-group first">
        <label for="username">Email</label>
        <input type="email" asp-for="Email" class="form-control">
    </div>
    <div class="form-group first">
        <label for="username">Kullanıcı Adı</label>
        <input type="text" asp-for="UserName" class="form-control">

    </div>
    <div class="form-group last mb-4">
        <label for="password">Şifre</label>
        <input type="password" asp-for="Password" class="form-control" id="password">

    </div>
    <div class="form-group last mb-4">
        <label for="password">Şifreyi Tekrar Girin</label>
        <input type="password" asp-for="ConfirmPassword" class="form-control" id="password">

    </div>

    <p style="color:red">
        @Html.ValidationSummary()
    </p>
    <input type="submit" value="Kayıt Ol" class="btn btn-block btn-primary">


</form>